@import '../../node_modules/normalize.scss/normalize.scss';
@import './fonts';

@include font-face(
  CenturyGothic,
  '/fonts/CenturyGothic',
  400,
  normal,
  woff2 woff eot ttf
);
@include font-face(
  CenturyGothic,
  '/fonts/CenturyGothic-Bold',
  700,
  normal,
  woff2 woff eot ttf
);

:root {
  --accent: #007ced;
  --accent-light: #2c98fd;
  --white: #f5f5f5;
  --text-dark: #252525;
  --text-gray: #d5d5d5;
  --background-dark: #252525;
  --background-gray: #444444;
  --background-gray-light: #646464;

  --container-width: 1320px;

  --top-padding: 0px 50px;

  @media screen and (max-width: 560px) {
    --top-padding: 0px 30px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--accent);

  font-family: 'CenturyGothic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: var(--text-gray);
  font-size: 14px;

  width: 100%;
  overflow-x: hidden;
}

.container {
  width: calc(100% - 20px);
  max-width: var(--container-width);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #f5f5f5;
  margin: 0;
  @media screen and (max-width: 600px) {
    font-size: 38px;
    line-height: 48px;
  }
  @media screen and (max-width: 600px) {
    font-size: 30px;
    line-height: 40px;
  }
}
